<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <%= stylesheet_link_tag 'swagger-ui', media: 'all'%>
    <link rel="icon" type="image/png" href="<%=asset_path('favicon-32x32.png')%>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%=asset_path('favicon-16x16.png')%>" sizes="16x16" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <%= javascript_include_tag 'swagger-ui-bundle'%>
    <%= javascript_include_tag 'swagger-ui-standalone-preset'%>
    <script>
    window.onload = function() {

      // Build a system
      const ui = SwaggerUIBundle({
        url: '<%= @swagger_endpoints.first.path %>',
        dom_id: '#swagger-ui',
        supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
        onComplete: function(swaggerApi, swaggerUi){
          if(typeof initOAuth == "function") {
            initOAuth({
              clientId: "your-client-id",
              clientSecret: "your-client-secret-if-required",
              realm: "your-realms",
              appName: "your-app-name",
              scopeSeparator: " ",
              additionalQueryStringParams: {}
            });
          }
        },
        onFailure: function(data) {
          log("Unable to Load SwaggerUI");
        },
        docExpansion: "list",
        jsonEditor: false,
        defaultModelRendering: 'schema',
        showRequestHeaders: false
      })

      window.ui = ui
    }
  </script>
  </body>
</html>